@*@using CUSTOMER.ANALYSIS.APPLICATION.CORE.Constants;*@
@model CUSTOMER.ANALYSIS.UI.WEB.SITE.Models.UsuarioRecuperaClaveViewModel

@{
    ViewBag.Title = "Recuperar Clave";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="account-pages login landingImg">
    <div class="container">
        <div class="row justify-content-center mainContent">
            <div class="col-md-6 col-lg-6 col-xl-6 logoLogin" style="place-items: center;">
                <img src="~/assets/images/logo-lg.jpeg" alt="Alternate Text" />
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 contentRight">
                <div class="titleLogin">
                    <p>Recuperar Contraseña</p>
                </div>
                <form asp-action="RecuperarClave" method="post" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group has-feedback">
                        <label for="Usuario" class="form-label">Usuario</label>
                        <div ID="UpdatePanel4">
                            <input type="text" asp-for="Usuario" Class="form-control" placeholder="Usuario" required>
                            <span asp-validation-for="Usuario" class="text-danger"></span>
                        </div>
                        <span class="glyphicon glyphicon-lock form-control-feedback" />
                    </div>
                    <br />
                    <div class="form-group has-feedback">
                        <label for="Usuario" class="form-label">Correo Electrónico</label>
                        <div ID="UpdatePanel4">
                            <input type="email" asp-for="CorreoElectronico" Class="form-control" placeholder="Correo Electronico" required>
                            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                        </div>
                        <span class="glyphicon glyphicon-lock form-control-feedback" />
                    </div>
                    
                    <div class="mt-3 d-grid">
                        <button Id="BtnConfirmar" type="submit" class="btn btn-info btn-block btn-login">Enviar</button>
                    </div>

                    <div class="form-group">
                        <a asp-action="Login" class="btn btn-link btn-rounded waves-effect">Iniciar sesión</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-5 text-center">
            <div>
                <p>
                    <partial name="../Shared/_footer" />
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=es&onload=onloadCallback&render=explicit" async defer></script>

    @Html.Raw(TempData["msg"])
}