
<meta charset="utf-8" />
<title>@ViewBag.Title | Analisis Cliente Intercom</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Servicio de reparación y mantenimiento" name="description" />
@*<meta content="Themesbrand" name="author" />*@
<!-- App favicon -->
<link rel="shortcut icon" href="~/img/logo-blanco.png">

