@{
    ViewBag.Title = "Cliente";
    ViewBag.pTitle = "Cliente";
    ViewBag.pageTitle = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    <link href="~/css/heatmap.css?v=@CUSTOMER.ANALYSIS.UI.WEB.SITE.Parameters.WebSiteParameters.Version" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div>
            <div id="floating-panel" class="accordion-item" style="width: 300px;">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <p class="h6">Opciones</p>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="chk-clientes-inactivos"><input type="checkbox" value="1" id="chk-clientes-inactivos" onclick="onChangeInactivos()"> Clientes Inactivos</label>
                            </div>
                            <div class="col-md-12">
                                <label for="chk-clientes-antiguos"> <input type="checkbox" value="1" id="chk-clientes-antiguos" onclick="onChangeAntiguos()"> Clientes Antiguos</label>
                            </div>
                            <div class="col-md-12">
                                <label for="chk-clientes-con-ventas"> <input type="checkbox" value="1" id="chk-clientes-con-ventas" onclick="onChangeMasVendidos()"> Clientes con más ventas</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map" style="height: 700px">
        </div>
    </div>
</div>
                            
@section Scripts {
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Inicio Google Maps -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@CUSTOMER.ANALYSIS.UI.WEB.SITE.Parameters.WebSiteParameters.ApiKeyGoogle&callback=initMap&libraries=visualization&v=weekly" defer></script>
    <script src="~/js/heatmap.js?v=@CUSTOMER.ANALYSIS.UI.WEB.SITE.Parameters.WebSiteParameters.Version"></script>
    <!-- Fin Google Maps -->

    <script>
        urlClientes = '@Url.Action("Index", "Cliente")';
        $(document).ready(function(){
            getClientes();
            $("#floating-panel").draggable();
        })
    </script>
}