@using CUSTOMER.ANALYSIS.UI.WEB.SITE.Parameters


@*
        <footer class="footer">
            <div class="container-fluid">

                <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Skote.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
        </div>
    </footer>
*@

<footer class="border-top footer text-muted">
    <div class="container">
        @Html.Raw(WebSiteParameters.WebFooter)
        @*&copy; 2021 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
    </div>
</footer>