<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/948b37ba-1216-41ba-a33d-346fc870c77b/resourceGroups/analisis-cliente-intercom/providers/Microsoft.Web/sites/analisis-cliente-intercom</ResourceId>
    <ResourceGroup>analisis-cliente-intercom</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://analisis-cliente-intercom.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4f036484-7eb6-4662-ac28-f1f43a4565ea</ProjectGuid>
    <PublishUrl>https://analisis-cliente-intercom.scm.azurewebsites.net/</PublishUrl>
    <UserName>$analisis-cliente-intercom</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>